<style type="test/css">
a{
   color:red;
}
a:hover{
  color:green;
}
</style>
.body{
display:flex;
   flex-direction: column;
}
.main{
   display:flex;
   flex: auto;
}
   .aside{
   flex: 1;
   }
.article{
   flex: 3;
}




